*{
	margin:0;
	padding: 0;
}
body{
	
	background-color: #29bde0;
}
.head{
	height: 8rem;
	border-bottom: 2px solid #74d4eb;
	line-height: 8rem;
	font-size: 3.4rem;
	text-align: center;
	color: #fff;
}
.head a{
	float: left;
	margin-left: 2.5rem;
	color: #fff;
	text-decoration: none;
}
.head img{
	float: right;
	margin:3rem 2.5rem 0 0;
}
.tips{
	height: 6.5rem;
	padding-top: 0.5rem;
	background-color: #b9e9f5;
}
.tips p{
	width: 57rem;
	margin: 0 auto;
	color: #464646;
	font-size: 2.6rem;
}
.tips:after{
	content: '';
	width: 0;
	height: 0;
	position: relative;
	top: 1.9rem;
	left: 7rem;
	border-top: 25px solid #b9e9f5;
	border-bottom: 25px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
.tipss{
	margin-top: 3.2rem;
	font-size: 2.4rem;
	text-align: center;
	color: #fff;
}
#wrap{
	width: 57rem;
	height: 70rem;
	margin: 0 auto;
	font-size: 0px;
	overflow: auto;
}
#wrap li{
	width: 12.6rem;
	height: 12.6rem;
	margin: 5rem 2.7rem;
	border:5px solid #fff;
	text-align: center;
	display: inline-block;
	font-size: 0px;
	background-color: #f5c97b;

	background-size: 100%;
}
/*#wrap li:hover{
	border-color: red;
}*/
/*#wrap li{
	background-image: none;
	background-color: #f5c97b;
}*/
#wrap p{
	width: 100%;
	height: 9.8rem;
	opacity: 1;
	font-size: 2.3rem;
	line-height: 9.8rem;
}
/*#wrap p:hover{
	opacity: 1;
}*/
#wrap span{
	display: block;
	background-color: #349cbd;
	opacity: 0.3;
	width: 12.6rem;
	height: 2.8rem;
	font-size: 2.3rem;
}
#fix{
	border: 1px solid transparent;
}
.foot{
	height: 19.7rem;
	position: relative;
	top: 0px;
	text-align: center;
}
.foot button{
	height: 8.5rem;
	width: 49rem;
	margin: 5.9rem 0;
	background-color: #fbb435;
	color: #fff;
	font-size: 4.8rem;
}